name: CI
on:
  push:
    branches: [ ci-test ]
jobs:
  build-artifacts:
    runs-on: ubuntu-latest

    steps:
      - name: install kicad
        run: |
          sudo add-apt-repository --yes ppa:kicad/kicad-7.0-releases
          sudo apt update
          sudo apt install kicad
      - run: kicad-cli version
      - name: install kikit
        run: |
          pip install kikit
          pip install mistune==2.0.5 
          pip install PcbDraw
          sudo apt install make cmark xsltproc librsvg2-bin
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: build present page
        run: make web
      - run: tree build/
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: build/web/

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build-artifacts

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2 

